.container {
    height: 100%;
    width: 100%;
}

.eightBall {
    background-color:  #262626;
    height: 400px;
    width: 400px;
}

.eightBallWindow {
    height: 150px;
    width: 150px;
    background-color: #1a1a1a;
}

.eightBallAnswer {
    color:  #f2f2f2;
    width: 150px;
    height: 150px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
}